// wide header: resolve FF and others having horizontal scroll bars with 100% width header images
#header-img.default-header {
    display: block;
}

#header-img {
    margin: 0;
}

/* Dark header */
#header {
   background: #000000;
}
.pagename, .pagename a {
    color: #ffffff;
}

