[Unit]
# ref: http://alesnosek.com/blog/2016/12/04/controlling-a-multi-service-application-with-systemd/
Description=reddit master service
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
