[Unit]
Description=reddit websockets
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
User=reddit
Group=reddit
EnvironmentFile=/etc/default/reddit
ExecStart=/usr/local/bin/baseplate-serve --bind localhost:9001 $REDDIT_SRC/websockets/example.ini
Restart=on-failure

[Install]
WantedBy=multi-user.target
