<%!
  from r2.lib.template_helpers import display_link_karma
%>
<%namespace file="utils.html" import="timestamp, thing_timestamp, plain_link" />
<h1>IP History for&nbsp;${plain_link(thing.user.name, "/user/%s/" % thing.user.name, _sr_path=False)}</h1>
<br/>
<table class="lined-table">
 <thead>
   <tr>
    <th>${_("IP address")}</th>
    <th>${_("Location")}</th>
    <th>${_("Last Visit")}</th>
    <th>${_("Organization")}</th>
  </tr>
 </thead>
 <tbody>
  %for item in thing.iphistory:
  <% 
    ip, last_visit, location, org = item[:4]
  %>
   <tr>
     <td>${ip}&nbsp;<a target="_blank" href="https://tools.keycdn.com/geo?host=${ip}">[1]</a>&nbsp;<a target="_blank" href="https://fullip.info/service/lookup/${ip}">[2]</a></td>
     <td>${location.get('country_name', '')}</td>
     <td>${timestamp(last_visit, live=True, include_tense=True)}</td>
     <td>${org}</td>
   </tr>
  %endfor
 </tbody>
</table>

<a href="/admin/ipbans">IP Bans</a>
