## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be
## consistent with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is reddit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is reddit Inc.
##
## All portions of the code written by reddit are Copyright (c) 2006-2015
## reddit Inc. All Rights Reserved.
###############################################################################

<%! 
   from r2.config import feature
   from r2.lib.filters import unsafe, safemarkdown
   from r2.lib.template_helpers import static, format_number, display_comment_karma, display_link_karma
 %>
<%namespace file="utils.html" import="submit_form, plain_link, thing_timestamp"/>
<%namespace file="printablebuttons.html" import="toggle_button, ynbutton"/>

<div class="titlebox">
  <h1>${thing.user.name}
    %if thing.user.employee:
      <span class="user-distinction">
        [
        <span class="admin" title="saidit admin">A</span>
        ]
      </span>
    %endif
  </h1>

  %if c.user_is_loggedin and not thing.viewing_self:
    <div>
    ${toggle_button("fancy-toggle-button", _("+ friends"), _("- friends"),
         "friend('%s', '%s', 'friend')" % (thing.user.name, c.user._fullname),
         "unfriend('%s', '%s', 'friend')" % (thing.user.name, c.user._fullname),
         css_class = "add", alt_css_class = "remove",
         reverse = thing.is_friend, login_required=True)}
    </div>
  %endif

  <span class="karma">${format_number(display_link_karma(thing.user.link_karma))}</span>
  &#32;
  ${_("post karma")}

  <br/>
  <span class="karma comment-karma">${format_number(display_comment_karma(thing.user.comment_karma))}</span>
  &#32;
  ${_("comment karma")}

  %if thing.show_private_info:
    <table id="per-sr-karma"${" class='more-karmas'" if not c.user_is_admin else ""}>
     <thead>
        <tr>
          <th id="sr-karma-header">sub</th>
          <th>post</th>
          <th>comment</th>
        </tr>
     </thead>
     <tbody>
     %for i, (sr_name, (link_karma, comment_karma)) in enumerate(thing.all_karmas.iteritems()):
       %if c.user_is_admin and i >= 5:
         <tr class="more-karmas">
       %else:
         <tr>
       %endif

        % if sr_name == "ancient history":
          <th class="helpful" title="${_('really obscure karma from before it was cool to track per-sub')}"><span>${_(sr_name)}</span></th>
        % else:
          <th>${sr_name}</th>
        % endif

          <td>${display_link_karma(link_karma)}</td>
          <td>${display_comment_karma(comment_karma)}</td>
        </tr>
     %endfor
     </tbody>
    </table>
    % if not c.user_is_admin or len(thing.all_karmas) > 5:
    <div class="karma-breakdown">
      <a href="javascript:void(0)"
         onclick="$('.more-karmas').show();$(this).hide();return false">
         show karma breakdown by sub
      </a>
    </div>
    % endif
  %endif

  %if thing.user.gold:
    %if thing.show_private_info or thing.user.pref_show_snoovatar:
      <div class="gold-accent snoovatar-link">
        <a href="/user/${thing.user.name}/snoo">
          %if thing.viewing_self:
            ${_("View/edit my snoovatar")}
          %else:
            ${_("%(username)s's snoovatar") % dict(username=thing.user.name)}
          %endif
        </a>
      </div>
    %endif
  %endif


  <div class="bottom">
    %if not thing.viewing_self:
      <img src="${static('mailgray.png')}"/>
      &#32;
      <a href="${"/message/compose/?to=%s" % thing.user.name}" class="access-required"
         data-type="account" data-fullname="${thing.user._fullname}"
         data-event-action="compose">
        ${_("send a private message")}
      </a>
    %endif

    <span class="age">
      ${_("saiditter for")}&#32;${thing_timestamp(thing.user)}
    </span>
  </div>

  %if c.user_is_admin:
    <div class="bans">
      <li>
        <input class="nomargin" type="checkbox" name="ban" id="ban" ${'checked="checked"' if thing.user._spam else ''} onclick="$.request(&quot;admin/ban_user&quot;, {uh: &quot;${c.modhash}&quot;, recipient: &quot;${thing.user.name}&quot;, reverse: !event.target.checked});">
        <label for="ban">user is shadowbanned</label>
      </li>
      %if not thing.viewing_self:
        <li>
          <input class="nomargin" type="checkbox" name="lock" id="lock" ${'checked="checked"' if thing.user._banned == 1 else ''} onclick="$.request(&quot;admin/lock_user&quot;, {uh: &quot;${c.modhash}&quot;, recipient: &quot;${thing.user.name}&quot;, reverse: !event.target.checked});">
          <label for="locked">user is password locked</label>
        </li>
      %endif
      <br>
      <form action="/api/admin/suspend_user" method="post" class="pretty-form medium-text" onsubmit="return post_form(this, 'admin/suspend_user')" id="adminsuspend-form">
        <h1>Issue suspension</h1>
        <input type="hidden" name="recipient" value="${thing.user.name}">
        <input type="hidden" name="uh" value="${c.modhash}">
        <div>
          <label for="ban_reason">reason</label>
          <select name="ban_reason">
            <option value="spamming the site">Spam</option>
            <option value="dragging down the Pyramid of Debate">Dragging Down the Pyramid of Debate</option>
            <option value="advocating violence">Advocating Violence</option>
            <option value="posting illegal content">Illegal Content</option>
            <option value="engaging in vote manipulation">Vote Manipulation</option>
            <option value="posting pornography">Porn</option>
            <option value="sexualizing minors">Sexualizing Minors</option>
            <option value="breaking the saidit rules">Other</option>
          </select>
        </div>
        <div>
          <label for="duration">${_('how long?')}</label>
          <input type="number" min="1" max="999" name="duration" id="duration">
          <span>${_('days (leave blank for permanent)')}</span>
        </div>
        <div>
          <label for="ban_message">${_('note to include in ban PM')}</label>
          <textarea name="ban_message" id="ban_message"></textarea>
        </div>
        <button class="btn" type="submit">suspend</button>
        <span class="status"></span>
      </form>

      %if thing.user.in_timeout:
        <p style="color: red;">User is suspended ${'for ' + str(thing.user.days_remaining_in_timeout) + ' more day(s)' if thing.user.timeout_expiration else 'indefinitely'}</p>
        ${ynbutton(op='admin/unsuspend_user',
                   title=_('lift'), 
                   executed=_('lifted'),
                   hidden_data = dict(uh = c.modhash,
                                      recipient = thing.user.name),
        )}
      %endif
    </div>
  %endif

  <div class="clear"> </div>

</div>

